.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #dfdfdf;
  border: 2px solid #282c34;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.Sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #282c34;
  width: 25%;
  min-width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;

  @media (max-width: 500px) {
    width: 100%;
    height: auto;
  }
}

.Folder {
  height: 10px;
  width: 10px;
}

.Header {
  width: 100%;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
    inset -2px -2px grey, inset 2px 2px #fff;
}

.Header-title {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: baseline;
  background: linear-gradient(90deg, navy, #1084d0);
  padding: 3px 2px 3px 3px;
  color: white;
  font-size: 16px;
}

.Friends-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  width: 100%;
  padding: 8px;
  overflow-y: auto;

  @media (max-width: 500px) {
    flex-direction: row;
    overflow-x: auto;
  }
}

.Friends-list-element {
  display: flex;
  align-items: center;
  width: 100%;
}

button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 0;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button:disabled {
  text-shadow: 1px 1px 0 #fff;
  color: grey;
  cursor: not-allowed;
}

.Chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  gap: 16px;
  padding: 16px;
}

.ChatBox {
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  border-bottom: 1px solid #808080;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  background-color: #fff;
  margin-top: 16px;
  overflow-y: auto;
}

.ChatBoxInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.MessageBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-bottom: 1px dotted #808080;
}

.MessageMe {
  background-color: #dfdfdf;
}

.MessageText {
  padding: 2px 16px 16px 16px;
}

.Top {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-weight: bold;
  font-size: 12px;
}

.No-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 16px;

  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
}

.Textarea {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  background-color: white;
  line-height: 1.71;
  letter-spacing: 0.2px;
  font-size: 0.875rem;
  border-radius: 0;
  padding: 4px 6px;
  resize: none;
  font-size: 16px;
}

textarea:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
